#Ignore all CSVs,images, qmd and html
*.csv
!aware_classification.csv
!script_times.csv
!r_example.csv
!r_1_test.csv
!ac_r_1_test.csv
!r_2_test.csv
!ac_r_2_test.csv
!r_3_test.csv
!ac_r_3_test.csv
!r_4_test.csv
!ac_r_4_test.csv
!r_5_test.csv
!ac_r_5_test.csv
!r_6_test.csv
!ac_r_6_test.csv
!pt_orig_test.csv
!pt_orig_key_test.csv
!pt_access_only_test.csv
!pt_access_only_key_test.csv
!stab_orig_test.csv
!stab_orig_key_test.csv
!pt_2010_test.csv
!pt_2019_test.csv
!pt_timekey_test.csv
!ac_2010_test.csv
!ac_2019_test.csv
!ac_timekey_test.csv
!characteristics_table_test.csv
!discharge_interim_test.csv
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg
*.pdf
*.html
*.qmd
